In [36]:
import pandas as pd

### Start the cleaning process
- The **'raw data'** represents all the data that was scraped from the 'Glassdoor' website.
- The **'clean data'** represents data without duplicates and without unnecessary columns that were used for debugging purposes.
- The **'final data'** represents the database with no missing values in the crucial columns (Annual Salary, Experience, Education).

In [37]:
df1 = pd.read_csv("final data/software engineer final data 3500.csv")
df1.shape

(653, 15)

In [38]:
df1 = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
df1.shape

(653, 14)

In [39]:
df1.duplicated().sum()

580

In [40]:
df1.drop_duplicates(keep='first', inplace=True)
df1.shape

(73, 14)

In [41]:
df1.head(146)

,Job Title,Annual Salary,Experience,Education,Is Remote,Company Size Scale,Company Old,Revenue Scale,Rating,Career Opportunities,Comp & Benefits,Culture & Values,Senior Management,Work Life Balance
0,Frontend Engineer,125000.0,1,1,1,1,14,-1,4.3,3.8,3.5,4.4,4.0,4.0
1,Junior Level Cloud Engineer,88400.0,1,2,1,2,23,-1,3.9,3.5,3.4,3.6,3.7,3.5
2,Full Stack Software Engineer,125000.0,1,1,1,1,14,-1,4.3,3.8,3.5,4.4,4.0,4.0
3,Associate Software Engineer - Entry Level,90000.0,3,1,0,1,-1,3,3.4,2.6,2.7,3.3,2.8,3.0
4,Software Engineer,115000.0,2,1,1,2,-1,-1,4.8,4.4,4.4,4.7,4.7,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,Software Engineer - Angular,160160.0,3,1,0,3,9,6,4.4,4.2,4.1,4.3,4.1,4.3
318,Full Stack Software Developer,107500.0,2,1,1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
381,Cloud Engineer,124800.0,3,1,0,2,18,-1,4.4,4.2,4.3,4.4,4.3,4.5
451,AWS Cloud Engineer,104000.0,4,1,0,3,10,3,4.3,4.3,4.4,4.4,4.5,4.3
565,Cloud Engineer,145000.0,5,1,1,2,12,-1,4.3,4.3,4.2,4.3,4.0,3.5

In [42]:
df2 = pd.read_csv("software engineer final data 200.csv")
df2.shape

(87, 15)

In [43]:
df2 = df2.loc[:, ~df2.columns.str.contains('^Unnamed')]
df2.shape

(87, 14)

In [44]:
df2.duplicated().sum()

37

In [45]:
df2.drop_duplicates(keep='first', inplace=True)
df2.shape

(50, 14)

# Margin two files to check duplications

In [46]:
files = ["software engineer final data 200.csv", "final data/software engineer final data 3500.csv"]
df = pd.DataFrame()

for file in files:
    data = pd.read_csv(file)
    df = pd.concat([df, data], axis=0)

df.to_csv("marge software engineer.csv", index=False)
df.shape

(740, 15)

In [47]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.shape

(740, 14)

In [48]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.drop_duplicates(keep='first', inplace=True)
df.shape

(92, 14)

In [49]:
df = pd.read_csv("database_web_86.csv")
df.columns

Index(['Unnamed: 0', 'Job Title', 'Annual Salary', 'Experience', 'Education',
       'Is Remote', 'Company Size Scale', 'Company Old', 'Revenue Scale',
       'Rating', 'Career Opportunities', 'Comp & Benefits', 'Culture & Values',
       'Senior Management', 'Work Life Balance'],
      dtype='object')

In [50]:
df = pd.read_csv("raw data/data science1000_var2.csv")
df.columns

Index(['Unnamed: 0', 'Job Title', 'Experience', 'Position', 'Education',
       'Company Name', 'Salary Estimate', 'Location', 'Rating', 'Is Remote',
       'Company Size', 'Founded', 'Type of Ownership', 'Industry', 'Sector',
       'Revenue', 'Career Opportunities', 'Comp & Benefits',
       'Culture & Values', 'Senior Management', 'Work Life Balance',
       'Time of Scrape'],
      dtype='object')