In [12]:
import pandas as pd
import os
import Data_Cleaning as dc

In [18]:
jobs = dc.merge_csv_files_in_folder('data files/marge')
jobs.drop('Time of Scrape', inplace=True, axis=1)
jobs.drop_duplicates(keep='first', inplace=True)

print(f"jobs shape = {jobs.shape}")
jobs.head()

Before dropping duplicates: (38943, 27)
After dropping all duplicates: (38876, 27)
jobs shape = (14922, 26)

,Salary Estimate,Annual Salary,Job Title,Experience,Education,Position,Company Name,Location,Rating,Is Remote,...,Revenue,Career Opportunities,Comp & Benefits,Culture & Values,Senior Management,Work Life Balance,Time Unit,Scale_Company_Size,Scale_Revenue,Origin
0,"$98,519 /yr (est.)",98519.0,Autonomous and Embedded Systems Engineer,0,1,1,MIT Lincoln Laboratory,MA,4.3,0,...,Unknown / Non-Applicable,3.8,4.0,4.1,3.6,4.4,yr,NaN,NaN,NaN
1,"$92,000 /yr (est.)",92000.0,Software Engineer,5,1,1,Oasys International Corporation,UT,3.7,0,...,$1 to $5 million (USD),3.8,4.0,3.9,3.8,4.3,yr,NaN,NaN,NaN
2,"$88,154 /yr (est.)",88154.0,Systems Engineer/ Medical Devices,0,1,-1,Analog Devices,MA,4.1,0,...,$10+ billion (USD),3.9,3.7,4.0,3.6,3.9,yr,NaN,NaN,NaN
3,"$74,500 /yr (est.)",74500.0,Software Engineer (Vehicle Automation and Auto...,0,1,1,Kubota Tractor Corp,AZ,3.5,0,...,$5 to $25 million (USD),3.1,3.4,3.2,3.1,3.4,yr,NaN,NaN,NaN
4,"$126,897 /yr (est.)",126897.0,"Motion Planning Engineer, Autopilot",0,1,-1,Tesla,CA,3.6,0,...,$1 to $5 billion (USD),3.7,3.7,3.4,3.1,2.9,yr,NaN,NaN,NaN

### Start the cleaning process
- The **'raw data'** represents all the data that was scraped from the 'Glassdoor' website.
- The **'clean data'** represents data without duplicates and without unnecessary columns that were used for debugging purposes.
- The **'final data'** represents the database with no missing values in the crucial columns (Annual Salary, Experience, Education).