In [25]:
import pandas as pd

### Start the cleaning process
- The **'raw data'** represents all the data that was scraped from the 'Glassdoor' website.
- The **'clean data'** represents data without duplicates and without unnecessary columns that were used for debugging purposes.
- The **'final data'** represents the database with no missing values in the crucial columns (Annual Salary, Experience, Education).

In [27]:
df = pd.read_csv("final data/software developer5000finalSahar.csv")
df.shape

(986, 16)

In [28]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.shape

(986, 15)

In [30]:
df.duplicated().sum()

840

In [31]:
df.drop_duplicates(keep='first', inplace=True)
df.shape

(146, 15)

In [32]:
df.head(146)

,Job Title,Annual Salary,Experience,Education,Position,Is Remote,Company Size Scale,Company Old,Revenue Scale,Rating,Career Opportunities,Comp & Benefits,Culture & Values,Senior Management,Work Life Balance
0,Software Developer,124800.0,2,BACHELOR,-1,1,2,-1,4,3.8,3.3,2.6,3.1,3.3,3.8
1,Junior Software Developer (Remote),68078.0,1,BACHELOR,JUNIOR,1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,Software Developer - JAVA (#0000101540),142480.0,5,BACHELOR,JUNIOR,0,5,24,6,3.5,3.5,3.2,3.4,3.2,3.5
3,Java Full Stack Developer,129001.6,-1,BACHELOR,-1,1,1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,Terraform developer,156000.0,5,MASTER,-1,0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
721,React JS Developer,109200.0,9,MASTER,-1,0,2,-1,-1,5.0,5.0,5.0,5.0,5.0,5.0
752,Sr. Full Stack Java Angular Developer (BHJOB22...,77114.0,5,BACHELOR,SENIOR,0,1,13,2,4.5,4.0,4.2,4.3,4.3,4.3
889,Java Developer,130000.0,1,BACHELOR,-1,0,5,-1,-1,4.5,4.5,4.2,4.5,4.3,4.3
937,Software Developer I,76301.0,-1,BACHELOR,-1,0,3,46,-1,3.3,3.1,3.8,3.0,3.1,3.2
959,Senior Java/J2EE Developer,116480.0,12,MASTER,SENIOR,0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [ ]:
df = pd.read_csv("software developer final data 10000.csv")
df.duplicated().sum()

In [ ]:
df = pd.read_csv("web developer200_clean.csv")
df.duplicated().sum()

In [ ]:
df.shape

# Delete the 'anonymous' column
## And now count the duplications

In [ ]:
df = pd.read_csv("software developer final data 10000.csv")
df.head(4)

In [ ]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head(4)

In [ ]:
df.duplicated().sum()

In [ ]:
df.shape

In [ ]:
df.drop_duplicates(keep='first', inplace=True)
df.shape

## Now try the other file

In [ ]:
df = pd.read_csv("web developer200_clean.csv")
df.head(5)

In [ ]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [ ]:
df.duplicated().sum()

In [ ]:
df = pd.read_csv("final data/data base 1.csv")

In [ ]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.duplicated().sum()

In [ ]:
df.shape