In [41]:
import pandas as pd

### Start the cleaning process
- The **'raw data'** represents all the data that was scraped from the 'Glassdoor' website.
- The **'clean data'** represents data without duplicates and without unnecessary columns that were used for debugging purposes.
- The **'final data'** represents the database with no missing values in the crucial columns (Annual Salary, Experience, Education).

In [37]:
df0 = pd.read_csv("0_QA clean data 50.csv")
df1 = pd.read_csv("1_QA clean data 50.csv")
df2 = pd.read_csv("2_QA clean data 50.csv")
df3 = pd.read_csv("3_QA clean data 50.csv")
df4 = pd.read_csv("4_QA clean data 50.csv")
df = pd.concat([df0, df1, df2, df3, df4], axis=0)
print(df0.shape)
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df.shape)

(38, 25)
(33, 25)
(39, 25)
(40, 25)
(38, 25)
(188, 25)

In [38]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df = df.loc[:, ~df.columns.str.contains('Time of Scrape')]

df.shape

(188, 23)

In [39]:
df.duplicated().sum()  # 41  78  115

115

In [40]:
df.drop_duplicates(keep='first', inplace=True)
df.shape

(73, 23)

In [43]:
df = pd.read_csv('_QA clean data 3000.csv')
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df = df.loc[:, ~df.columns.str.contains('Time of Scrape')]

df.shape

(1282, 23)

In [45]:
df.drop_duplicates(keep='first', inplace=True)
df.shape

(182, 23)

In [46]:
df.to_csv('QA_182.csv')

In [47]:
df

,Salary Estimate,Annual Salary,Job Title,Experience,Education,Position,Company Name,Location,Rating,Is Remote,...,Type of Ownership,Industry,Sector,Revenue,Career Opportunities,Comp & Benefits,Culture & Values,Senior Management,Work Life Balance,Time Unit
0,$52.50 /hr (est.),109200.0,QA Test Engineer,0,1,-1,Kanini,Remote,-1.0,1,...,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,hr
1,$55.00 /hr (est.),114400.0,UAT Tester,8,1,-1,Cloud and Things Inc\n4.6,Remote,4.6,1,...,-1,-1,-1,-1,4.3,4.0,4.8,4.8,4.5,hr
2,$75.00 /hr (est.),156000.0,Senior Manual QA Tester,-1,-1,-1,Match Made Tech,"Irvine, CA",-1.0,0,...,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,hr
3,"$112,168 /yr (est.)",112168.0,Specialist QA (Remote),10,1,0,Amgen\n4.2,"Thousand Oaks, CA",4.2,0,...,Company - Public,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,$10+ billion (USD),3.7,4.0,4.0,3.6,3.9,yr
4,"$98,320 /yr (est.)",98320.0,Software QA Test & Release Engineer,4,1,-1,Synaty Tech\n5.0,"Colorado Springs, CO",5.0,0,...,-1,-1,-1,-1,5.0,5.0,5.0,5.0,5.0,yr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,"$54,861 /yr (est.)",54861.0,Specialist QA,10,1,0,PACIV\n3.3,"San Juan, PR",3.3,0,...,-1,-1,-1,-1,2.7,2.5,3.1,2.6,3.1,yr
1138,"$72,225 /yr (est.)",72225.0,Quality Assurance Analyst (QA Analyst),0,2,-1,Essani International,"South Elgin, IL",-1.0,0,...,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,yr
1210,"$77,640 /yr (est.)",77640.0,QA Analyst,0,1,-1,Mayura,"Woodbridge, NJ",-1.0,0,...,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,yr
1211,"$65,000 /yr (est.)",65000.0,QA Analyst,0,1,1,Baldwin Risk Partners\n3.8,"New York, NY",3.8,0,...,-1,-1,-1,-1,3.7,3.8,3.8,3.4,4.1,yr
1269,$55.00 /hr (est.),114400.0,QA Mobile Analyst,5,2,1,"IT Engagements,Inc.","Denver, CO",-1.0,0,...,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,hr