In [1]:
import pandas as pd
import Data_Cleaning

# The ***GOALS*** of this script:
## Dealing with each csv file alone:
- Removing unnecessary columns (such as 'Time of Scrape...)
- Removing all duplication
- Adding 'Scale' columns for each non-numeric variable with a **ratio order**
- Filling the missing values with the mean of each column
## Mixing all files into one big DataBase:
- Adding column named **'Origin'** to track the origin of each file and marge all files into one big DataBase
- Removing all duplication that has accrued from margin files
- counting the total number of data we have and go out to drink a bear :)

In [2]:
name_of_job = 'QA'
path_to_folder = f"data files/{name_of_job}/raw data"
df_QA = Data_Cleaning.merge_csv_files_in_folder(path_to_folder)

Before dropping duplicates: (13065, 23)
After dropping all duplicates: (3892, 23)

In [3]:
name_of_job = 'software engineer'
path_to_folder = f"data files/{name_of_job}/raw data"
df_SE = Data_Cleaning.merge_csv_files_in_folder(path_to_folder)

Before dropping duplicates: (5880, 23)
After dropping all duplicates: (1252, 23)

In [4]:
name_of_job = 'machine learning'
path_to_folder = f"data files/{name_of_job}/raw data"
df_ML = Data_Cleaning.merge_csv_files_in_folder(path_to_folder)

Before dropping duplicates: (2748, 23)
After dropping all duplicates: (2257, 23)

In [5]:
name_of_job = 'game development'
path_to_folder = f"data files/{name_of_job}/raw data"
df_GD = Data_Cleaning.merge_csv_files_in_folder(path_to_folder)

Before dropping duplicates: (17082, 25)
After dropping all duplicates: (14246, 25)

In [6]:
name_of_job = 'data science'
path_to_folder = f"data files/{name_of_job}"
df_DC = Data_Cleaning.merge_csv_files_in_folder(path_to_folder)

ValueError: No objects to concatenate

### Preprocessing stage for each df_name:
- Adding 'Scale' columns
- Filling the missing values with 'mean' for each column
- Adding 'one hot encoding' for specific columns ONLY after marge!

In [6]:
# Adding 'Scale' columns
job_list = [df_GD, df_ML, df_SE, df_QA]

for job in job_list:
    Data_Cleaning.preprocess_scaling(job)

In [7]:
# Filling the missing values with 'mean' for each column. And cleaning the location (agine, only if needed).
list_location = ['Remote', 'United State', 'Michigan', 'Pennsylvania', 'Colorado']
for job in job_list:
    Data_Cleaning.filling_missing_values(job)
    job['Location'] = job['Location'].fillna('')
    job['Location'] = job['Location'].apply(lambda x: x.split(',')[-1])
    job['Location'] = job['Location'].apply(lambda x: x if len(x) < 4 or x in list_location else 'LA')
    job['Location'] = job['Location'].apply(lambda x: x if x != '-1' else 'LA')
# print(df_DS.Location.unique())
# print(df_DS['Type of Ownership'].unique())
# print(df_SE.columns)
df_GD.head()

,Salary Estimate,Annual Salary,Job Title,Experience,Education,Position,Company Name,Location,Rating,Is Remote,...,Sector,Revenue,Career Opportunities,Comp & Benefits,Culture & Values,Senior Management,Work Life Balance,Time Unit,Scale_Company_Size,Scale_Revenue
0,"$134,769 /yr (est.)",134769.0,Lead Game Designer,0.0,1,1,PlayStation Global,CA,4.0,0,...,Media & Communication,$10+ billion (USD),3.4,3.7,3.9,3.4,3.8,yr,6.0,9.0
1,"$65,906 /yr (est.)",65906.0,Game Designer: Content,3.0,2,1,Firaxis,MD,4.4,0,...,Information Technology,Unknown / Non-Applicable,3.9,3.5,4.6,3.8,4.4,yr,2.0,NaN
2,$32.50 /hr (est.),67600.0,Game Designer,0.0,2,-1,Acara Solutions,FL,3.4,0,...,Human Resources & Staffing,Unknown / Non-Applicable,3.2,3.2,3.2,3.1,3.5,hr,7.0,NaN
3,"$107,500 /yr (est.)",107500.0,Game Designer - Reno,0.0,2,1,Everi,NV,3.5,0,...,Manufacturing,$500 million to $1 billion (USD),3.3,3.2,3.5,3.4,3.5,yr,5.0,7.0
4,$22.50 /hr (est.),46800.0,Game Design Instructor,0.0,1,-1,GameU,Remote,NaN,1,...,-1,-1,NaN,NaN,NaN,NaN,NaN,hr,NaN,NaN

# Margin the files into one DataBase

In [8]:
jobs = pd.concat(job_list)
print(f"shape before: {jobs.shape}")
jobs.drop_duplicates(keep='first', inplace=True)
print(f"shape after: {jobs.shape}")
jobs.head(100)

shape before: (21647, 25)
shape after: (16685, 25)

,Salary Estimate,Annual Salary,Job Title,Experience,Education,Position,Company Name,Location,Rating,Is Remote,...,Sector,Revenue,Career Opportunities,Comp & Benefits,Culture & Values,Senior Management,Work Life Balance,Time Unit,Scale_Company_Size,Scale_Revenue
0,"$134,769 /yr (est.)",134769.0,Lead Game Designer,0.0,1,1,PlayStation Global,CA,4.0,0,...,Media & Communication,$10+ billion (USD),3.4,3.7,3.9,3.4,3.8,yr,6.0,9.0
1,"$65,906 /yr (est.)",65906.0,Game Designer: Content,3.0,2,1,Firaxis,MD,4.4,0,...,Information Technology,Unknown / Non-Applicable,3.9,3.5,4.6,3.8,4.4,yr,2.0,NaN
2,$32.50 /hr (est.),67600.0,Game Designer,0.0,2,-1,Acara Solutions,FL,3.4,0,...,Human Resources & Staffing,Unknown / Non-Applicable,3.2,3.2,3.2,3.1,3.5,hr,7.0,NaN
3,"$107,500 /yr (est.)",107500.0,Game Designer - Reno,0.0,2,1,Everi,NV,3.5,0,...,Manufacturing,$500 million to $1 billion (USD),3.3,3.2,3.5,3.4,3.5,yr,5.0,7.0
4,$22.50 /hr (est.),46800.0,Game Design Instructor,0.0,1,-1,GameU,Remote,NaN,1,...,-1,-1,NaN,NaN,NaN,NaN,NaN,hr,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,"$96,582 /yr (est.)",96582.0,Designer (NST),0.0,1,1,Nintendo,WA,4.6,0,...,-1,-1,3.9,4.1,4.3,4.0,3.9,yr,NaN,NaN
96,"$55,781 /yr (est.)",55781.0,Game Designer - Full Time,0.0,1,1,Filament Games,WI,4.9,0,...,Education,$1 to $5 million (USD),3.9,3.9,4.5,4.6,4.9,yr,2.0,2.0
97,"$45,356 /yr (est.)",45356.0,Game UI Designer - Full Time and Freelance,0.0,1,-1,Filament Games,WI,4.9,0,...,Education,$1 to $5 million (USD),3.9,3.9,4.5,4.6,4.9,yr,2.0,2.0
98,"$80,000 /yr (est.)",80000.0,Game Systems Designer,3.0,1,-1,Bit Fry Game Studios. Inc,Remote,NaN,1,...,-1,-1,NaN,NaN,NaN,NaN,NaN,yr,NaN,NaN
99,"$81,618 /yr (est.)",81618.0,Game Economy Designer,0.0,1,-1,PlayStation Global,CA,4.0,0,...,Media & Communication,$10+ billion (USD),3.4,3.7,3.9,3.4,3.8,yr,6.0,9.0

In [10]:
# Adding 'one hot encoding' for specific columns

# columns = ['Time Unit', 'Type of Ownership', 'Location']  # for one-hot encoding
# jobs = Data_Cleaning.one_hot_encoding(jobs, columns)
#
jobs.shape

(16685, 25)

## Only now we can connect the new data to the data base!

In [25]:
dataBase = pd.read_csv('DataBaseVar/DataBase_var1.csv', index_col=0)
print(f"The older dataBase: {dataBase.shape}")
jobs = pd.concat([jobs, dataBase])
print(f"shape before: {jobs.shape}")
jobs.drop_duplicates(keep='first', inplace=True)
print(f"shape after: {jobs.shape}")
jobs.head(200)

The older dataBase: (13796, 24)
shape before: (43863, 25)
shape after: (30067, 25)

,Salary Estimate,Annual Salary,Job Title,Experience,Education,Position,Company Name,Location,Rating,Is Remote,...,Sector,Revenue,Career Opportunities,Comp & Benefits,Culture & Values,Senior Management,Work Life Balance,Time Unit,Scale_Company_Size,Scale_Revenue
0,"$134,769 /yr (est.)",134769.0,Lead Game Designer,0.0,1,1,PlayStation Global,CA,4.0,0,...,Media & Communication,$10+ billion (USD),3.4,3.7,3.9,3.4,3.8,yr,6.0,9.0
1,"$65,906 /yr (est.)",65906.0,Game Designer: Content,3.0,2,1,Firaxis,MD,4.4,0,...,Information Technology,Unknown / Non-Applicable,3.9,3.5,4.6,3.8,4.4,yr,2.0,NaN
2,$32.50 /hr (est.),67600.0,Game Designer,0.0,2,-1,Acara Solutions,FL,3.4,0,...,Human Resources & Staffing,Unknown / Non-Applicable,3.2,3.2,3.2,3.1,3.5,hr,7.0,NaN
3,"$107,500 /yr (est.)",107500.0,Game Designer - Reno,0.0,2,1,Everi,NV,3.5,0,...,Manufacturing,$500 million to $1 billion (USD),3.3,3.2,3.5,3.4,3.5,yr,5.0,7.0
4,$22.50 /hr (est.),46800.0,Game Design Instructor,0.0,1,-1,GameU,Remote,NaN,1,...,-1,-1,NaN,NaN,NaN,NaN,NaN,hr,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,"$104,451 /yr (est.)",104451.0,Animation Gameplay Programmer (All Levels),0.0,1,-1,Rockstar Games,CA,4.3,0,...,Media & Communication,$5 to $25 million (USD),4.1,4.3,4.2,3.9,4.0,yr,5.0,3.0
384,"$87,059 /yr (est.)",87059.0,UE Gameplay Programmer,4.0,1,-1,Pure Imagination Studios,CA,3.0,0,...,-1,-1,3.0,3.6,3.2,3.0,3.4,yr,NaN,NaN
385,"$66,126 /yr (est.)",66126.0,Programmer Analyst,5.0,1,0,University of Missouri,MO,3.8,0,...,Education,$1 to $5 billion (USD),3.6,3.3,3.6,3.4,3.8,yr,7.0,7.0
386,"$186,150 /yr (est.)",186150.0,Technical Director – Lightspeed LA,0.0,2,1,Tencent,CA,4.0,0,...,Information Technology,Unknown / Non-Applicable,4.0,4.1,3.9,3.7,3.3,yr,7.0,NaN
387,"$76,450 /yr (est.)",76450.0,ROBLOX- Gameplay Programmer,NaN,-1,-1,"Jazplus, LLC",CA,NaN,0,...,-1,-1,NaN,NaN,NaN,NaN,NaN,yr,NaN,NaN

In [24]:
jobs.to_csv('DataBase_var2.csv',index=False)