In [1]:
import pandas as pd
import Data_Cleaning
import os

# The ***GOALS*** of this script:
## Dealing with each csv file alone:
- Removing unnecessary columns (such as 'Time of Scrape...)
- Removing all duplication
- Adding 'Scale' columns for each non-numeric variable with a **ratio order**
- Filling the missing values with the mean of each column
## Mixing all files into one big DataBase:
- Adding column named **'Origin'** to track the origin of each file and marge all files into one big DataBase
- Removing all duplication that has accrued from margin files
- counting the total number of data we have and go out to drink a bear :)

In [2]:
name_of_job = 'QA'
path_to_folder = f"data files/{name_of_job}/raw data"
df_QA = Data_Cleaning.merge_csv_files_in_folder(path_to_folder)

Before dropping duplicates: (18, 23)
After dropping all duplicates: (18, 23)

In [3]:
name_of_job = 'software engineer'
path_to_folder = f"data files/{name_of_job}/raw data"
df_SE = Data_Cleaning.merge_csv_files_in_folder(path_to_folder)

Before dropping duplicates: (27, 23)
After dropping all duplicates: (27, 23)

In [4]:
name_of_job = 'data scientist'
path_to_folder = f"data files/{name_of_job}/raw data"
df_DS = Data_Cleaning.merge_csv_files_in_folder(path_to_folder)

Before dropping duplicates: (19, 23)
After dropping all duplicates: (19, 23)

In [5]:
name_of_job = 'game development'
path_to_folder = f"data files/{name_of_job}/raw data"
df_GD = Data_Cleaning.merge_csv_files_in_folder(path_to_folder)

Before dropping duplicates: (31, 23)
After dropping all duplicates: (31, 23)

In [6]:
name_of_job = 'machine learning'
path_to_folder = f"data files/{name_of_job}/raw data"
df_ML = Data_Cleaning.merge_csv_files_in_folder(path_to_folder)

Before dropping duplicates: (22, 23)
After dropping all duplicates: (22, 23)

### Preprocessing stage for each df_name:
- Adding 'Scale' columns
- Filling the missing values with 'mean' for each column
- Adding 'one hot encoding' for specific columns ONLY after marge!

In [7]:
# Adding 'Scale' columns
job_list = [df_DS, df_SE, df_QA, df_ML, df_GD]

for job in job_list:
    Data_Cleaning.preprocess_scaling(job)

In [8]:
# Filling the missing values with 'mean' for each column. And cleaning the location (agine, only if needed).
list_location = ['Remote', 'United State', 'Michigan', 'Pennsylvania', 'Colorado']

for job in job_list:
    Data_Cleaning.filling_missing_values(job)

    job['Location'] = job['Location'].fillna('')
    job['Location'] = job['Location'].apply(lambda x: x.split(',')[-1])
    job['Location'] = job['Location'].apply(lambda x: x if len(x) < 3 or x in list_location else 'LA')
    job['Location'] = job['Location'].apply(lambda x: x if x != '-1' else 'LA')
# print(df_DS.Location.unique())
# print(df_DS['Type of Ownership'].unique())
# print(df_SE.columns)
df_ML.head()

,Salary Estimate,Annual Salary,Job Title,Experience,Education,Position,Company Name,Location,Rating,Is Remote,...,Sector,Revenue,Career Opportunities,Comp & Benefits,Culture & Values,Senior Management,Work Life Balance,Time Unit,Scale_Company_Size,Scale_Revenue
0,"$79,578 /yr (est.)",79578.0,BARDA Fellowship Opportunities in Medical Coun...,4,1,0,-1,LA,4.033333,0,...,-1,-1,3.81875,3.74375,3.875,3.73125,3.9375,yr,4.454545,7.5
1,$23.50 /hr (est.),48880.0,Hybrid Administrative Assistant,3,1,0,Supporting Strategies - Merrimack Valley and S...,LA,3.800000,0,...,Financial Services,$1 to $5 million (USD),3.40000,3.10000,3.700,3.70000,4.1000,hr,2.000000,2.0
2,"$76,940 /yr (est.)",76940.0,Associate Engineer,0,2,0,ConverseNow Technologies\n4.6,LA,4.600000,0,...,Information Technology,Unknown / Non-Applicable,4.70000,4.60000,4.700,4.90000,4.6000,yr,2.000000,7.5
3,"$99,893 /yr (est.)",99893.0,Solutions Engineer - USA,0,1,0,INGENIOUS.BUILD\n4.5,LA,4.500000,0,...,Information Technology,Unknown / Non-Applicable,4.50000,4.40000,4.500,4.30000,4.3000,yr,2.000000,7.5
4,"$50,000 /yr (est.)",50000.0,Real Estate Office Assistant,2,2,0,Bluelofts Inc.\n5.0,LA,5.000000,0,...,-1,-1,5.00000,5.00000,5.000,5.00000,5.0000,yr,4.454545,7.5

# Margin the files into one DataBase

In [9]:

jobs_to_connect = [df_SE, df_ML, df_QA, df_DS, df_GD]
jobs = pd.concat(jobs_to_connect)
print(f"shape before: {jobs.shape}")
jobs.drop_duplicates(keep='first', inplace=True)
print(f"shape after: {jobs.shape}")
jobs.head()

shape before: (117, 25)
shape after: (113, 25)

,Salary Estimate,Annual Salary,Job Title,Experience,Education,Position,Company Name,Location,Rating,Is Remote,...,Sector,Revenue,Career Opportunities,Comp & Benefits,Culture & Values,Senior Management,Work Life Balance,Time Unit,Scale_Company_Size,Scale_Revenue
0,"$89,096 /yr (est.)",89096.0,Artificial Intelligence and Cybersecurity Rese...,8.0,1,-1,Argonne National Laboratory,LA,4.4,0,...,Management & Consulting,Unknown / Non-Applicable,3.9,4.0,4.2,3.9,4.3,yr,5.0,4.5
1,"$125,100 /yr (est.)",125100.0,Assistant Research Scientist AI Ethics Center ...,0.0,1,0,University of California Berkeley,LA,4.2,0,...,-1,-1,4.0,3.7,4.2,4.2,4.2,yr,3.5,4.5
2,"$105,086 /yr (est.)",105086.0,Artificial intelligence / Machine Learning Eng...,8.0,1,1,Cotocus,LA,4.4,0,...,-1,-1,4.4,4.2,4.1,4.3,4.2,yr,3.5,4.5
3,"$135,046 /yr (est.)",135046.0,Artificial Intelligence Performance Engineer,5.0,1,-1,"Advanced Micro Devices, Inc",LA,4.2,0,...,Information Technology,$10+ billion (USD),4.2,3.7,4.2,3.9,3.9,yr,7.0,9.0
4,"$117,948 /yr (est.)",117948.0,Artificial Intelligence - Computational Linguist,0.0,2,-1,VASS IT,LA,3.8,0,...,-1,-1,3.4,3.0,3.1,3.0,3.6,yr,3.5,4.5

## Only now we can connect the new data to the data base!
### 'dataBase' will have the last version of our DataBase.
## This is why we take the last file (-1) in the folder :)
- 'jobs' will have all the new data we have collected during our current session

In [10]:
# Read and join

list_of_files = os.listdir("DataBaseVar")
dataBase = pd.read_csv(f"DataBaseVar/{list_of_files[-1]}")

jobs = pd.concat([jobs, dataBase])

# print(f"shape before: {jobs.shape}")
# jobs.drop_duplicates(keep='first', inplace=True)
# print(f"shape after: {jobs.shape}")

if 'Unnamed: 0' in list(jobs):
    jobs = jobs.drop(['Unnamed: 0'], axis=1)

if 'Unnamed: 0.1' in list(jobs):
    jobs = jobs.drop(['Unnamed: 0.1'], axis=1)

print(f"shape before: {jobs.shape}")
jobs.drop_duplicates(keep='first', inplace=True)
print(f"shape after: {jobs.shape}")

shape before: (13909, 25)
shape after: (13908, 25)

In [11]:
# Creating a new file with INDEX_FILE increased by one. WE do not want to override the existing file to ensure healthy processes.

string = list_of_files[-1]

# Find the index of the first digit in the string
start_index = next((index for index, char in enumerate(string) if char.isdigit()), None)

# Find the index of the first non-digit character after the number
end_index = next((index for index, char in enumerate(string[start_index:]) if not char.isdigit()), None)
if end_index is not None:
    end_index += start_index

number = int(string[start_index:end_index])
number += 1

In [12]:
jobs.to_csv(f"DataBaseVar/DataBase_var{number}.csv", index=False)